name: CI

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: php-actions/composer@v1
    - uses: php-actions/phpunit@v1.0.0
      with:
        config: phpunit.xml
